{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/preditt.css">
    <style>
       .bb{
           background-color: aqua;
           /* font-size: larger; */
           position: relative;
           padding-left: 100px;
           font-size: 80px;
       } 
    </style>
</head>
<body class="bb">
    <h1>{{pred}}</h1>
    
</body>
</html>